/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv
/caravel
/dependencies
/mgmt_core_wrapper
/logs
/venv-cocotb
*.vpd
*.key
/verilog/dv/*/module_tests/sim_build
/verilog/dv/*/module_tests/DVEfiles
/verilog/dv/*/module_tests/.restartSimSession.tcl.old