LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "rst" SITE "P4";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;

LOCATE COMP "up" SITE "B15";
IOBUF PORT "up" IO_TYPE=LVCMOS33;
LOCATE COMP "down" SITE "C15";
IOBUF PORT "down" IO_TYPE=LVCMOS33;
LOCATE COMP "left" SITE "B20";
IOBUF PORT "left" IO_TYPE=LVCMOS33;
LOCATE COMP "right" SITE "E11";
IOBUF PORT "right" IO_TYPE=LVCMOS33;



LOCATE COMP "dac_sdi" SITE "B10";
IOBUF PORT "dac_sdi" IO_TYPE=LVCMOS33;
LOCATE COMP "dac_cs" SITE "A14";
IOBUF PORT "dac_cs" IO_TYPE=LVCMOS33;
LOCATE COMP "dac_sck" SITE "D13";
IOBUF PORT "dac_sck" IO_TYPE=LVCMOS33;
LOCATE COMP "dac_ld" SITE "E12";
IOBUF PORT "dac_ld" IO_TYPE=LVCMOS33;


LOCATE COMP "sevenSeg[0]" SITE "A15";
IOBUF PORT "sevenSeg[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sevenSeg[1]" SITE "H2";
IOBUF PORT "sevenSeg[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sevenSeg[2]" SITE "J4";
IOBUF PORT "sevenSeg[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sevenSeg[3]" SITE "J3";
IOBUF PORT "sevenSeg[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sevenSeg[4]" SITE "L4";
IOBUF PORT "sevenSeg[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sevenSeg[5]" SITE "M4";
IOBUF PORT "sevenSeg[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sevenSeg[6]" SITE "N4";
IOBUF PORT "sevenSeg[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "tft_sdo" SITE "M3";
IOBUF PORT "tft_sdo" IO_TYPE=LVCMOS33;

LOCATE COMP "tft_sck" SITE "P5";
IOBUF PORT "tft_sck" IO_TYPE=LVCMOS33;

LOCATE COMP "tft_sdi" SITE "N5";
IOBUF PORT "tft_sdi" IO_TYPE=LVCMOS33;

LOCATE COMP "tft_dc" SITE "L5";
IOBUF PORT "tft_dc" IO_TYPE=LVCMOS33;

LOCATE COMP "tft_reset" SITE "K3";
IOBUF PORT "tft_reset" IO_TYPE=LVCMOS33;

LOCATE COMP "tft_cs" SITE "J5";
IOBUF PORT "tft_cs" IO_TYPE=LVCMOS33;

LOCATE COMP "tftstate[0]" SITE "F18";
LOCATE COMP "tftstate[1]" SITE "A12";
LOCATE COMP "tftstate[2]" SITE "B19";
LOCATE COMP "leds[0]" SITE "B18";
LOCATE COMP "leds[1]" SITE "C17";
LOCATE COMP "leds[2]" SITE "A17";
LOCATE COMP "test" SITE "D15";
IOBUF PORT "tftstate[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "tftstate[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "tftstate[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "test" IO_TYPE=LVCMOS33;